.cart-icon {
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 0px;
    z-index: 1;
    align-items: center;
    font-family: 'Yekan';
    background-color: white;
    width: 80%;
    height: 100px;
    transform: translateY(-50%);

    border-radius: 20px;
}

.cart-icon p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    gap: 10px;
    border-right: 1px solid #EBEBEB;
    font-size: 25px;
}

.cart-icon p:last-child {
    border-right: none;

}

.footer-cart {
    width: 100%;
    height: 300px;
    z-index: 2;
    background-color: white;
    position: relative;
}

.footer-cart:first-child {
    display: flex;
    justify-content: center;
}

.footer-copy {
    font-family: 'Yekan';
    color: black;
    direction: rtl;
    text-align: center;
    padding: 20px;
}

.footer-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: fit-content;
    width: 50%;
    direction: rtl;
    top: 70px;
    left: 400px;
}

.footer-main img:first-child {
    width: 140px;
}

.footer-column {
    font-family: 'Yekan';
}

.footer-column p {
    transition: all 0.3s ease;
    opacity: 0.5;
    cursor: pointer;
    font-size: 18px;

}

.footer-column {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.footer-column h4 {
    font-size: 20px;
}

.footer-column p:hover {
    opacity: 1;
    cursor: pointer;
    font-size: 18px;
}

.footer-last-box {
    font-family: 'Yekan';
    position: relative;
    left: -700px;
    top: 40px;
    width: fit-content;
}

.footer-last-box p {
    font-size: 20px;
}



.subscribe-group p {
    font-family: 'Yekan';
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.subscribe-box {
    display: flex;
    gap: 20px;
    flex-direction: column;
    background-color: white;
    direction: rtl;
    position: relative;
    top: 100px;
    left: -850px;
}

.subscribe-box input {
    padding: 10px;
    font-family: 'Yekan';
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-left: 10px;
}

.subscribe-box button {
    background-color: #6c5ce7;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Yekan';
}
.icon-card{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 15px;
}
.footer-last-icon{
    display: flex;
    position: relative;
    top: -70px;
    left: 150px;
    cursor: pointer;
    z-index: 2;
    gap: 15px;
}
.icon-card:first-child{
    background-color: #459AF80F;
}
.icon-card:nth-child(2){
    background-color: #19AE190F;
}
.icon-card:nth-child(3){
    background-color: #BD69FF0F;
}
.icon-card:nth-child(4){
    background-color: #4FA2FF0F;
}
.icon-card:last-child{
    background-color: #ff00550f;
}