@font-face {
    font-family: "Maneli";
    src: url("https://db.onlinewebfonts.com/t/048d796e38af6fe158614d528247b367.eot");
    src: url("https://db.onlinewebfonts.com/t/048d796e38af6fe158614d528247b367.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/048d796e38af6fe158614d528247b367.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/048d796e38af6fe158614d528247b367.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/048d796e38af6fe158614d528247b367.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/048d796e38af6fe158614d528247b367.svg#Maneli")format("svg");
}

.camera-container {
    background: linear-gradient(to right, #7B63FF, #5C40F1);
    position: absolute;
    top: 550px;
    left: 90px;
    width: 1350px;
    height: 470px;
    border-radius: 20px;
}

.buy-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    gap: 15px;
    margin-left: 470px;
    margin-top: 10px;

}

.buy-icon p {
    color: #FFF;
    font-weight: 600;
    font-size: 40px;
}

.icon-arrow {

    transition: all 0.3s ease-in-out;
}

.icon-arrow:hover {
    cursor: pointer;
    transform: translateX(-5px);
}

.slider-main {
    /* border: 1px solid #CACACA; */
    border-radius: 15px;
    background-color: #FFF;
    width: 1350px;
    height: 700px;
    position: absolute;
    top: 1060px;
    left: 90px;
    transition: all 0.3s ease-in-out;
}

.slider-main:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 5px rgba(191, 0, 255, 0.1);

}

.box-container {
    display: flex;
    border-bottom: 1px solid #CACACA;
    justify-content: space-between;
    width: 815px;
    height: 80px;
    margin-top: 100px;
    margin-left: 70px;
}

.container-time {
    background-color: #fff;
    width: 1355px;
    height: 490px;
    display: flex;
    border-radius: 12px;
    gap: 16px;
    position: relative;
    top: 1750px;
    left: 75px;
    transition: all 0.3s ease-in-out;
    flex-wrap: wrap;
    padding: 20px;
}

.container-time:hover {
    transform: translateY(-5px);
}

.item {
    display: flex;
    flex-direction: column;
    gap: 60px;
    border-right: 1px solid #dddddd;
    align-items: center;
    justify-content: center;
    width: 389px;
    height: 400px;
}

.active-p {
    color: white;
    padding: 12px;
    border-radius: 8px;
}

.advice {
    height: 46px;
}


.smart-watch {
    position: relative;
    top: -300px;
    left: 610px;
    width: fit-content;
    font-size: 22px;
    color: #222;
    margin-top: 10px;
}

.dashed {
    position: relative;
    top: -210px;
    left: 35px;
    width: fit-content;
    height: 65px;
    display: flex;
    align-items: center;
    padding: 0 16px;
}

.price-precent {
    width: fit-content;
    background: #ff4b2b;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
}

.discount-precent {
    font-size: 18px;
    direction: rtl;
    position: relative;
    left: -515px;
    gap: 5px;
    top: -3px;
    font-size: 20px;
    color: #FFF;
}

.old-money-timer {
    position: relative;
    left: -400px;
    text-decoration: line-through;
    opacity: 0.5;
    font-size: 17px;
}

.show-order {
    position: relative;
    top: -140px;
    border-radius: 7px;
    background-color: #FB3D3D;
    left: 480px;
    width: 286px;
    height: 51px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;

}

.show-order svg {
    transition: all 0.3s ease-in-out;

}

.show-order:hover {
    background-color: #ff1f1f;
}

.show-order:hover svg {
    transform: translateY(-5px);
}

.order-icon {
    position: relative;
    left: 70px;
}

.show-order p {
    position: relative;
    left: 45px;
    top: -1px;
    color: #FFF;
    font-size: 20px;
}

.timer-counter {
    display: flex;
    position: relative;
    left: 100px;
    top: -150px;
    direction: rtl;
    height: 400px;
    height: fit-content;
    width: fit-content;
}

.cont-div {
    display: flex;
    gap: 14px;
    width: 300px;
    height: 50px;
}

.cont-min-handle {
    font-family: 'Yekan';
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 5px 0px 0px;
    width: 60px;
    background-color: #F1F1F1;
}

.cont-min-handle:last-child {
    background-color: #7B63FF;
    color: #FFF;
}

.time-p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Yekan';
    margin-left: 11px;
    position: relative;
    left: 297px;
    top: 50px;
    border: 0;
    border-radius: 0px 0px 5px 5px;
    width: 61px;
    height: 50px;
    /* background-image: linear-gradient(180deg, #FDFDFD 0%, rgba(240, 239, 239, 0.23) 100%); */
    color: #43454D;
}

.time-p:last-child {
    background-image: linear-gradient(180deg, rgba(123, 99, 255, 0.08) 0%, rgba(123, 99, 255, 0.09) 100%);
    position: relative;
    left: 291px;
    width: 60px !important;
}

.time-p:nth-child(2) {
    width: 60px;
    position: relative;
    left: 300px;

}

.time-p:nth-child(3) {
    width: 60px;
    position: relative;
    left: 297px;

}

.time-p:nth-child(4) {
    width: 60px;
    position: relative;
    left: 294px;

}

.data-mouse {
    display: flex;
    position: relative;
    top: 1870px;
    left: 70px;
    height: 300px;
    width: fit-content;
    height: 600px;
}
.box3-container{
background-color: #1A75BA0A;
    width: 370px;
    height: 550px;
    height: 538px;
    border-radius: 15px;
    position: relative;
    left: 878px;
    top: -65px;
}
.box3-container img{
    position: relative;
    top: 170px;
    width: 340px;
    height: 340px;
}
.box3-container p{
    font-size: 20px;
    position: relative;
    top: 60px;
    left: 80px;
    font-weight: 800;
}
.box3-container svg{
    position: relative;
    top: -230px;
    left: 80px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

}
.box3-container svg:hover{
 transform: translateX(-5px)
}