@font-face {
    font-family: "Maneli";
    src: url("https://db.onlinewebfonts.com/t/048d796e38af6fe158614d528247b367.eot");
    src: url("https://db.onlinewebfonts.com/t/048d796e38af6fe158614d528247b367.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/048d796e38af6fe158614d528247b367.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/048d796e38af6fe158614d528247b367.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/048d796e38af6fe158614d528247b367.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/048d796e38af6fe158614d528247b367.svg#Maneli")format("svg");
}

@font-face {
    font-family: 'Yekan';
    src: url('../../../../../public/assets/Font/Yekan-Font-3.0/Yekan.eot');
    src: url('../../../../../public/assets/Font/Yekan-Font-3.0/Yekan.eot?#iefix') format('embedded-opentype'),
        url('../../../../../public/assets/Font/Yekan-Font-3.0/Yekan.woff2') format('woff2'),
        url('../../../../../public/assets/Font/Yekan-Font-3.0/Yekan.woff') format('woff'),
        url('../../../../../public/assets/Font/Yekan-Font-3.0/Yekan.otf') format('opentype'),
        url('../../../../../public/assets/Font/Yekan-Font-3.0/Yekan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}




p {
    margin: 0;
    padding: 0;
    font-size: 15px;
}

.logo-style {
    font-family: "Inter";
    width: 106px;
    height: 45px;
    position: absolute;
    top: 125px;
    left: 1234px;
    opacity: 1;
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 36.87px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #664BFA;



}

.isActive {
    color: #5F44F3;
    font-size: 16px !important;
    width: 100px;

}

.maneli {
    font-family: 'Maneli';
}

.camera-p {
    font-size: 24px;
    margin-top: 154px;
    margin-left: 330px;
    color: #FFFF;
}

.yekan {
    font-family: 'yekan';
}

.camera-cctv {
    font-weight: 800;
    color: #FFFF;
    font-size: 40px;
    margin-left: 190px;
}

.data-p {
    display: flex;
    gap: 5px;
    font-size: 26px;
}

.data-p svg {
    padding-top: -6px;
}

.discount {
    background-color: #7B63FF;
    color: white;
    font-size: 13px;
    padding: 5px 12px;
    border-radius: 9px;
    position: absolute;
    top: 16px;
    left: 16px;
}

.name {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
}

.desc {
    color: gray;
    font-size: 13px;
    margin-bottom: 15px;
}

.price {
    font-weight: bold;
    font-size: 18px;
    color: #43454D;
    margin-bottom: 15px;
    gap: 6px;
}

.morabba {
    font-family: 'Morabba';
}

.box2-head {
    font-size: 20px;
    color: #FFF;
    padding-top: 30px;
    margin-left: 55px;
}

.div-name {
    font-weight: bold;
    font-size: 18px;
    color: #FFF;
    margin-left: 55px;
    margin-top: -20px;
}

.old-price {
    color: #FFFF;
    opacity: 0.5;
    font-size: 18px;
    text-decoration: line-through;
    margin-top: 14px;
    margin-left: 120px;
}

.new-money {
    color: #FFF;
    font-size: 21px;
    margin-left: 114px;
    margin-top: 10px;

}

.div-name-slider {
    font-weight: bold;
    font-size: 18px;
    color: #FFF;
    margin-left: 45px;
    margin-top: -20px;
}

.old-price-slider {
    color: #FFFF;
    opacity: 0.5;
    font-size: 18px;
    text-decoration: line-through;
    margin-top: 14px;
    margin-left: 135px;
}

.new-money-slider {
    color: #FFF;
    font-size: 21px;
    margin-left: 134px;
    margin-top: 10px;

}

.active-p {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 330px;
    height: 45px;
    background: linear-gradient(270deg, #7B63FF 72.4%, rgba(195, 184, 255, 0) 103.98%);
    color: #FFF;
    font-weight: 0 !important;
    
}
.active-p svg{
    position: relative;
    left: 50px;
}