.nav-bar {
  display: flex;
  align-items: center;
  direction: rtl;
  gap: 24px;
  padding: 16px 24px;
  background-color: #ffffff;
  border-radius: 12px;
  overflow-x: auto;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3a3a3a;
  font-size: 15px;
  gap: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 8px 12px;
  border-radius: 10px;
  white-space: nowrap;
}



.nav-item svg {
  font-size: 18px;
  color: #3a3a3a;
}

/* .nav-item .active {
  background-color: #7B63FF;
  color: #ffffff;
  padding: 8px 16px;
}

.nav-item .active svg {
  color: #ffffff;
}

.nav-item .active p {
  font-size: 15px;
} */

.nav-bar {
  display: flex;
  align-items: center;
  direction: rtl;
  gap: 35px;
  width: 900px;
  height: 20px;
  padding: 16px 24px;
  background-color: #ffffff;
  border-radius: 12px;
  overflow: hidden;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 150px;
  color: #3a3a3a;
  font-size: 15px;
  gap: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 8px 12px;
  border-radius: 10px;
  white-space: nowrap;
}



.nav-item svg {
  font-size: 18px;
}

.active {
  background-color: #7B63FF;
  color: #ffffff;
  padding: 8px 16px;
}

.active svg {
  color: #ffffff;
}

.active p {
  font-size: 15px;
}
